#gpu-canvas {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#text-canvas {
    border: 1px solid grey;
}

#content {
    position: relative;
    font-family: Google Sans,Google Sans Text,Roboto,Arial,Noto Sans JP,Noto Sans KR,sans-serif;
    z-index: 1;
    color: #e0e0a0;
    padding: 30px;
    text-align: center;
}

#performance-overlay {
    background-color: #201040;
    color: #e0e0e0;
    z-index: 10;
    bottom: 5vmin;
    right: 5vmin;
    padding: 0.6em;
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(1vmin, 1rem, 3vmin);
    border-radius: 1em;
}

#performance-overlay p {
    margin: 0.3em;
}

h1 {
    font-size: 500%;
}
